textarea {
    width: 280px;
    height: 75px;
    border-color: #d3d3d3;
    background-image: none;
}

input {
    width: 280px;
}

input:invalid, textarea:invalid {
    border: 1px dotted red;
}

#newIssue {
    font-size: 12px;
}

#newIssue > p {
    margin-top: 5px;
}

.caption {
    font-weight: bold;
}

.gitlab #projectList_div > p {
    padding: 12px;
}

.navigation {
    margin-top: .8em;
}

a.issue {
    border-bottom: 1px solid #eee;
    padding: .5em 0;
    display: block;
}
a.issue:first-child {
    border-top: 1px solid #eee;
}
a.issue.is-done {
    text-decoration: line-through;
    opacity: .4;
}

#hideClosedIssues {
    width: inherit;
    display: inline-block;
    margin-right: 5px;
}

.form_field {
    margin-bottom: 8px;
}

.progress {
    width: 100px;
}

.zdgitlab-list {
    list-style: none;
    margin: -5px;
}
.zdgitlab-list__entry {
    padding: 5px;
    margin: 0;
}
.zdgitlab-list__entry a {
    display: block;
}
.zdgitlab-list__entry:hover {
    background-color: #ebebeb;
}